# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# macOS specific files
.DS_Store
.Trash/
.AppleDouble
.LSOverride

# macOS specific folders
.DS_Store
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python virtual environment
venv/
env/

# Python environment variables
.env
*.env

# Django stuff:
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ignore migrations
*/migrations/*

# Ignore gunicorn logs
gunicorn.log
gunicorn.err

# Django static files
static/
staticfiles/

# Django secret keys
secret_key.txt

# Ignore project specific settings or configuration files
.settings/

# JetBrains IDEs
.idea/
*.iml

# VSCode specific
.vscode/

# Node.js files (if using npm or Node)
node_modules/
npm-debug.log
yarn-error.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore package managers
package-lock.json
yarn.lock

# Ignore Python bytecode
*.pyc

# Logs and databases
*.log
*.sqlite3
*.db

# Ignore build files
build/
dist/

# Heroku logs
*.log

# Ignore compressed files
*.tar.gz
*.zip
*.rar
*.7z

# Ignore uploads (optional, adjust based on your project)
uploads/

# Ignore iCloud sync folders
iCloud Drive (Archive)*/

# Ignore temporary files
*.swp
*.swo
*~
*.bak
*.tmp

# Ignore IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# Ignore coverage reports
htmlcov/
.coverage
.tox/

# PyCharm specific files
.idea/
*.idea
__pycache__/
