<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <h1>About Page</h1>

    <p>checkout my <a href="/quote">home </a> page and the <a href="/show_all">showall Page</a></p>

    <h1>Welcome to the Quote of the Day application!</h1>
    <p>This application displays quotes by and images of <a href="https://en.wikipedia.org/wiki/Rock_Lee">Rock Lee</a></p>

    <p>Rock Lee is a fictional character in the anime and manga series Naruto and Naruto Shippuden created by Masashi Kishimoto. <br> At first Masashi designed Lee to symbolize human strength.</p>
  </body>
</html>
